body,
html {
	width: 100%;
	background: rgb(0,255,250);
	background: linear-gradient(15deg, rgba(0,255,250,0.1) 0%, rgba(217,255,142,0.2) 37%, rgba(214,255,154,0.3) 57%, rgba(0,184,63,0.3) 91%);
	font-size: 16px;
	font-family: arial;
}
.blok {
	width: 800px;
	display:flex;
	padding-top: 32px;
	margin-bottom: 32px;
	/*для удобства расположения фото и персональной информации объединил в общий класс и сдвинул вниз на 32пс*/
}
.person {
	margin: auto;
	width: 60%;
	/* задал размер 70% процентов и разместил в цент браузера  */
}
.person__info {
	
	/*задаю размеры для фото и отправляю текст на обтекание*/
}
.person__contacts {
	display: flex;
	flex-direction: column;
    justify-content: center;
	width: 500px;
	padding-left: 32px;
	/* ну вот так фортануло. вроде по центру. пробовал разными командами, 
	но получилось этой...да-да размеры не задал. а если задаю всё слетает. знаний не хватило сделать по-человечески*/
}
.avatar__picture {
	width: 300px;
	height: 300px;
	display: flex;
	border-radius: 300px;
	border: 2rem solid white;
	transition: transform 2s;
}
.avatar__picture:hover {
    transform: translateX(100%) rotate(360deg);
    transition: transform 2s ease;
	/* задаём фото форму шара и создаём белую рамку  */
}
.contacts {
	font-family: 'Arial black';
	/* для точности соответствия макету выбрал только 1 шрифт...в умной книге читал, что так делать нельзя  */
}
.contacts__name {
	font-size: 2rem;
	/* задаю размер  */
}
.contacts__role {
	font-size: 19.2px;
	margin-bottom: 1rem;
	/* размер и отступ...пинаем вниз контакты  */
}
.contacts__link {
	color: gray;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	/*  по тех заданию голубого сделаи серым и попробовали положить болд */
}
.contacts__item {
	font-family: helvetica ;
	font-style: italic;
	font-weight: bold;
	/* тут мы хелветику и ариал нагнули и пожирнили немного. хелветика не жирниться сильно */
}
.paragraph {
	margin-bottom: 1rem;
	/* добавьте ваш код  */
}
.paragraph_last {
	margin-bottom: 3rem;
	/* добавьте ваш код  */
}
